<div class="row">
  <div class="col-md-3">
    <div class="list-group">
      <a href="#" class="list-group-item active">Task To-Do #1</a>
      <a href="#" class="list-group-item">Task To-Do #2</a>
      <a href="#" class="list-group-item">Task To-Do #3</a>
      <a href="#" class="list-group-item">Task To-Do #4</a>
      <a href="#" class="list-group-item">Task To-Do #5</a>
    </div>
  </div>
  <div class="col-md-9">
    <h1>CRM</h1>
  </div>
</div>
{{liquid-outlet}}
