{{#if session.isAuthenticated}}
    <br><br>
  <p> Welcome, {{session.user.firstName}} {{session.user.lastName}}</p>
  <div class="row">
    <div class="col-md-12">

    </div>
  </div>
{{else}}
  {{landing-page}}
{{/if}}
